<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apappdevelopmentproject1920">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WaitingForOtherPlayers"></activity>
        <activity android:name=".RoomJoin"></activity>
        <activity
            android:name=".RoomCreator"
            android:label="Create Room"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DareInput"
            android:label="DareInput"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.apappdevelopmentproject1920.DareInput" />
        </activity>

        <activity
            android:name=".GameMain"
            android:label="GameMain"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.apappdevelopmentproject1920.GameMain" />
        </activity>

        <activity
            android:name=".GameOver"
            android:label="GameOver"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.apappdevelopmentproject1920.GameOver" />
        </activity>

        <activity
            android:name=".DatabaseConnected"
            android:label="Waiting_for_players..."
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.apappdevelopmentproject1920.DatabaseConnected" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>